body{
    margin: 0;
    padding: 0;
    font-family: "Arial", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:cornflowerblue

}
/*Estrutura Visual do Menu*/
.menu {
    background-color: black;
    padding-top:3%;
    font-size: 20px;
}

ul {
    display:flex;
    justify-content:center;
}

li, a{
    list-style: none;
    text-decoration:none;
    color: rgb(250,250,250);
    padding:3%;
    font-weight:650;
}

li:hover {
    transform: scale(1.2);
    transition:0.5s;

}


/*Estrutura Visual da Página Principal*/
.página-inicial {
    display:flex;
    justify-content: center;
    padding-top: 10%;
}

.FOTO {
    max-width:250px;
    padding: 2%;
}

.Texto Pessoal{
    max-width:430px;
    font-weight:600;
    color:BLACK;
}

h1 {
    font-size:20px;
    font-weight: 800;
}

h2 {
    font-size:large;
    font-weight: 400;
}

/*Estrutura Visual da Página Projetos*/
.TEXTOPROJETOS {
    display: flex;
    justify-content: center;
    padding-top:8%;
}

.FOTO {
    max-width: 480px;
    color:black;
}

/*Configuração Visual da Página Sobre Mim*/
.Texto Pessoal {
    display:flex;
    justify-content:center;
    padding-top:9%;
}

.Texto Pessoal {
    max-width:600px;
    color:black;
}

/*Configuração Visual da Página Fale Comigo*/
.Fale Comigo {
    max-width: 200px;
    margin: 30px auto;
    padding: 10%;
    border-radius:4%
}

label {
    display:block;
    padding-top:18px;
}

input, textarea {
    width: 100%;
    padding: 20px;
    border: 2px BLACK;
}

textarea {
    padding-bottom:40%;
}

button {
    background-color: black;
    color: whitesmoke;
    padding: 10px 50px;
    border: lightgoldenrodyellow;
    cursor:pointer;
}

button:hover{
    background-color: BLACK;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

img{
    max-width:50px;
    padding:10px;
}



